:root {
  --color-spotify-green: #17ab4d;
  --color-spotify-black: #121414;
  --color-background-scrollbar: transparent;
  --color-background-scrollbar-thumb: rgba(255, 255, 255, 0.31);
  --color-on-hover: rgba(255, 255, 255, 0.31);
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-muted: #dce1ebbe;
  --color-info-light: #dce1eb;
  --color-background: #121414;
  --card-background: #212121;

  --box-shadow: 0 2rem 3rem var(--color-dark);
  /* x-axis shadow | y-axis shadow | blur | spread */
  --display-card-box-shadow-dark: 1.5px 1px 3px 2px rgba(0, 0, 0, 0.2);
  --display-card-box-shadow-light: 1px 1px 3px 2px rgba(255, 255, 255, 0.532);

  --display-card-thin-columns: repeat(4, auto);
  --display-card-grid-columns: repeat(6, auto);
  --display-card-grid-columns-1000px: repeat(5, auto);

  --display-card-width: 15%;
  --display-card-width-1000px: 20%;
  --display-card-width-777px: 25%;
  --display-card-width-400px: 30%;

  --display-card-background: rgba(79, 79, 79, 0.131);

  --display-card-border-radius: 0.2rem;
  --active-color: #17ab4d;

  --font-size-large-p: 1rem;
  --font-size-medium-p: 1rem;
  --font-size-small-p: 1rem;

  --font-size-large-h4: 1rem;
  --font-size-small-h4: 1rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
}

html,
body {
  background-color: #121414;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  border: 1px solid #dce1eb;
}

a {
  text-decoration: none;
  color: var(--color-info-light);
}

/* ===================== SIDEBAR ============================= */

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 400px) {
}
